{% extends "base.html" %}

{% block title %}Change Password for {{ current_user.name }}{% endblock title %}

{% block content %}
    <form class="form form-inline" method="POST">
        <table>
            {{ form.hidden_tag() }}
            <tr><td>{{ form.old_password(placeholder='Current Password') }}</td></tr>
            <tr><td>{{ form.new_password(placeholder='New Password') }}</td></tr>
            <tr><td>{{ form.verify_new(placeholder='Verify Password') }}</td></tr>
            <tr><td><input type="submit" class="btn btn-primary" value="Change"></td></tr>
        </table>
    </form>
{% endblock content %}