{% extends "base.html" %}

{% block title %}Preferences for {{ current_user.name }}{% endblock title %}
{% block content %}
    <form method="GET">
    <label class="switch">
        <input onChange="setTimeout(function() {
            form.submit();
        }, 500)" type="checkbox" {% if current_user.is_darkmode() == true %} checked {% endif %}>
        <span class="slider round"></span>
    </label>
    </form>
    <p><a href="{{ url_for('wiki.changepassword') }}">Change password</a></p>
{% endblock content %}
